.bg{
    background-image: url("./img2.jpg");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:navy;
    font-size: 30px;
}
.button{
    background-color: #f44336;
    font-size: 16px;
    padding: 14px 40px; 
}

.input{
    background-color:khaki;
    padding: 12px 20px;
    font-size: 18px;
    color: crimson;
}

.bg1{
    background-image: url("./img.jpg");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.name{
    text-align: center;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:darkgoldenrod;
    font-size: 60px;

}

.event{
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkred;
    font-size: 50px;
}

